body {
  background-color: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  background: #1f2937;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

th, td {
  padding: 16px;
  text-align: left;
  color: #fff;
}

th {
  background: #374151;
  font-size: 18px;
}

tr:nth-child(even) {
  background: #2d3748;
}

tr:hover {
  background: #4b5563;
  transition: 0.3s;
}

td {
  border-bottom: 1px solid #374151;
}

td:last-child {
  border-right: none;
}

h1{
  color: #fff;
}

h2{
  color: #fff;
}
